/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 
 /* 共通 */
 body{
   padding-top: 4.5rem;
 }

 .btn{
   color: white;
 }

 /* トップページ */
 .jumbotron{
   background-color: white;
   margin-bottom: 0px;
   padding-top: 0px;
   .logo{
    font-size: 7.5rem;
   }
 }

 .top-btn{
   margin-top: 3rem;
 }

 .three_icon{
  margin-top:0px;
  .col{
    .extx{
      font-size: 1rem;
      
    }
    i{
      font-size: 5rem;
    }
    .description{
      margin-top: 10px;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
 }

 /* forms */

input, textarea, select{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

#user_remember_me{
  width: auto;
}

/* tweets */

.user_info{
  margin-bottom: 50px;
}
.user_name{
  display: inline;
}
.show-btn{
  float: right;
}
.tweets {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #777;
    display: block;
    margin-left: 60px;
  }
  .user_icon{
    font-size: 3rem;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* sidebar */
aside{
  box-sizing: border-box;
  ul{
    margin: 5px 0 0 0;
    padding: 2px;
    box-sizing: border-box;
    
    li{
      list-style: none;
      padding: 0px;
      margin:15px 0 30px 0;
      font-size: 1.1rem;
      // transform: scale( 1 , 1.2 );
      .list{
        padding: 2px 8px 2px;
        margin: 0 5px 0;
      }
      a{
        color: black;
      }
      @media(min-width:769px){
        &:hover{
          background-color: darken(white,3%);
          border-radius: 10px;
          a{
            text-decoration: none;
          }
        }  
      }
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.follow-btn{
  width: auto;
  float: right;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
}

// likes.scss



.like-btn {
  font-size: 15px;
  color: #808080;
}
 
.unlike-btn {
  font-size: 15px;
  color: #e54747;
}